{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

	<title>Lista de Contatos</title>
</head>
<body>

	<div class="container">
		<!--  Procurar Contato -->
		<header class="header">
			
			<form action="/" method="GET" class="search-bar">
				<input type="search-name" class="contact-search" name="search-area" placeholder="Search" value="{{busca_input}}">
			</form>

			<!--  Botão adicionar contato -->
			<a href="{% url 'add-contact' %}"><i class="fas fa-plus-circle add"></i></a>
		</header>

		<!--  Lista de Contatos -->
		<section class="contacts-library">
			<ul class="contacts-list">
				{% for contato in contatos reversed %}

				<a href="{%url 'profile' contato.id%}">
					<div class="contact-section">
						<li class="list__item">
							<p class="contact-name">{{contato.nome_completo | title }}</p>
							<p class="relationship">{{contato.relacao | title }}</p>
						</li>

						<li class="list__item">
							<i class="fas fa-phone"></i>
							<i class="fas fa-sms text"></i>
						</li>
					</div>
				</a>
					

				<hr>
				{% endfor %}
			</ul>
		</section>
	</div>

</body>
</html>